* {
    transition: all 0.3s ease-in-out;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Navigace */

.hamburger {
    color: white;
    align-items: center;
}

.hamburger > i {
    margin-right: 20px;
    height: 30px;
}

nav {
    background-color: #2463b2;
    height: 70px;
    justify-content: space-between;
    line-height: 60px;
}

nav > img {
    height: 60px;
    margin-top: 10px;
}

/* Header */

.header {
    background-color: #2463b2;
    width: 100%;
}

.header > h1 {
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    padding-top: 50px;
}

.header > h3 {
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.header > div > p {
    text-align: center;
    color: white;
    margin-top: 250px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Důvody */ 

.duvody {
    width: 100%;
    background-color: white;
}

.duvody > h2 {
    color: #05347a;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.karticky {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
}

.card-body > img {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

.card-body {
    text-align: center;
}

.card-body > p {
    margin-top: 40px;
}

.circle > img {
    height: 60px;
    width: 60px;
}

.circle {
    margin: auto;
    margin-top: 20px;
}

.studentem {
    text-align: center;
    background-color: #05347a;
    padding: 15px;
    width: 350px;
    border-radius: 25px;
    margin: 50px auto;
}

.studentem > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Aktuality */

.aktuality {
    background: #3fbffb;
    width: 100%;
    padding-bottom: 50px;
}

.nadpisky > h2 {
    color: white;
    border-bottom: 4px solid white;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.aktuality-card {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.aktuality-card > p {
    margin-top: 20px;
    text-align: justify;
}

.aktuality-button {
    text-align: center;
    padding: 10px;
    background-color: #073681;
    width: 200px;
    margin: auto;
    margin-top: 40px;
    border-radius: 15px;
}

.aktuality-button > a {
    color: white;
    font-size: 18px;
}

/* Sponzoři */

.sponzori {
    padding: 30px 0px 50px 0px;
}

.nadpisky-modre > h2 {
    color: #06367F;
    border-bottom: 4px solid #06367F;
}

.sponzori-obrazky > img {
    width: 25%;
    height: 200px;
}

/* Kontakty */

footer {
    background-color: #dbe8f1;
    width: 100%;
    padding-bottom: 50px;
}

.kontakty {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #06367F;
}

.kontakty-mini {
    text-align: center;
}

.kontakty-mini > h5 {
    padding: 15px 0px;
}

.carka {
    width: 100%;
    height: 2px;
    background-color: #06367F;
    margin: 10px 0px;
}

.ikonky {
    padding-top: 20px;
}

.ikonky > i {
    margin: 0px 10px;
}

/* Responzivita */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .kontakty {
        justify-content: flex-end;
    }
    .hamburger > i {
        margin-right: 50px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
